@model TropicalServerApp.Models.UserAccount

@{
    Layout = null;
}

<!DOCTYPE html>
<html id="LoginHtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TropicalServer</title>
    @Styles.Render("~/Content/TropicalStyles/Login.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>*@

<body id="bodyLogin">
    <div id="container">
        <div id="header">
            <div class="imageDisplay">
                <img id="LoginImg"  src="@Url.Content("~/Images/Header.jpg")" />
            </div>
        </div>


        <div id="BodyDetail">
            <h3 id="Loginlbl">Mobile Customer Order Tracking</h3>
            <div>
                @*Login Box  Here *@

                @using (Html.BeginForm("SubmitLogin", "Login", FormMethod.Post, new { @id = "loginBox" }))
                {
                <div id="useridlbl">
                    @*Login ID: <input name="UserID" id="useridtextbox" type="text" value="@Model.UserID" />*@
                    @Html.Label("Login ID")
                    @Html.TextBoxFor(x => x.UserID, Model.UserID, new { @id = "useridtextbox" })
                    @*@Html.ValidationMessageFor(m => m.UserID, "", new { @class = "error" })*@
                </div>
                <div id="passwordlbl">
                    @Html.Label("Password")
                    @Html.PasswordFor(x => x.Password, new { @id = "passwordtextbox" })
                    @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })*@
                </div>


                <div id="login">
                    @*checkbox save user *@
                    <span>
                        @Html.Label("Remember my ID", new { @id = "RememberMe" })
                        @Html.CheckBoxFor(x => x.RememberMe, new { @id = "Checkbox1" })
                    </span>
                       
                   
                    
                    <input id="LoginBtn_1" type="submit" value="Log-In" />
                </div>

                }


                <div id="forgot">
                    <span class ="forgetUser" id="forgotUsername" onclick="location.href='@Url.Action("Forget", "Login")'">Forgot Username</span>
                    <span class ="forgetUser" id="forgotPassword" onclick="location.href='@Url.Action("Forget", "Login")'">Forgot Password</span>
                </div>

            </div>
        </div>

        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@

    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

</body>
</html>